<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="mt-10 ml-10">
        <h1 class="text-white text-3xl mb-4">Create User</h1>
        <div class="text-blue-500 mb-10">
            <a href="/read">Read Users</a>
        </div>
        <form action="/create" method="POST">
            <input type="text" class="px-5 py-2 outline-none rounded-md "  placeholder="Enter Name" name="name">
            <input type="text" class="px-5 py-2 outline-none rounded-md" placeholder="Enter Email" name="email">
            <input type="text" class="px-5 py-2 outline-none rounded-md" placeholder="image Url" name="image">
            <input type="submit" value="Create User" class="px-5 py-2 bg-blue-500 hover:bg-blue-600 rounded-md cursor-pointer">
        </form>
    </div>
</body>
</html>