<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="ml-10 text-white mt-10">
    <a href="/" class="text-blue-500 mb-10">Go back to Home</a>
   <h1 class="mt-10 font-bold"><%= filename %></h1>
    <p><%= filedata  %></p>
    </div>
</div>
</body>
</html>